{% extends "base.html.twig" %}

{% block homeActive %}active
{% endblock %}
{% block body %}

	<!-- home -->
	<div class="my-5 py-5 text-center">
		<h1 class="display-6 fw-bold">Playpal, votre site de location de jeux de société favori</h1>
		<div class="col-lg-6 mx-auto">
			<p class="lead mb-4 text-muted">Seul, entre amis, en famille, venez découvrir nos jeux</p>
		</div>
	</div>
{% endblock %}
