{% extends 'back/base.html.twig' %}

{% block body %}

	<!-- main -->
	<div class="my-5 py-5 text-center">
		<img src="favicon.png" height="100" alt="Logo Paypal" class="mb-3">
		<h1 class="display-6 fw-bold">Paypal, louez les tous!</h1>
		<div class="col-lg-6 mx-auto">
			<p class="lead mb-4 text-muted">Votre magasin spécialiste des jeux de société.</p>
		</div>
	</div>

{% endblock %}
